<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col" class="details">Details</th>
                        <th scope="col" class="edit">Edit</th>
                        <th scope="col" class="delete">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td><button class="btn btn-outline-info"
                                [routerLink]="['/users', user.id, 'details']">Details</button>
                        </td>
                        <td><button class="btn btn-outline-success" [routerLink]="['/users', user.id]">Edit</button>
                        </td>
                        <td><button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>